.footer {
  width: 100%;
  padding: 24px;
  background-color: #242424; /* igual a las secciones oscuras */
  border-top: 1px solid #333; 
  text-align: center;
  margin-top: 40px;
}

.text {
  font-size: 14px;
  color: #cccccc; /* gris suave */
  letter-spacing: 0.3px;
}